MicroServicos\MsProduct\bin\*
MicroServicos\MsProduct\obj\*
MicroServicos\MsVendas\bin\*
MicroServicos\MsVendas\obj\*
MicroServicos\MsNewsletter\bin\*
MicroServicos\MsNewsletter\obj\*
MicroServicos\MsCustomer\bin\*
MicroServicos\MsCustomer\obj\*
MicroServicos\MsAuthenticate\bin\*
MicroServicos\MsAuthenticate\obj\*